body {
  background-image: url("../images/background-image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 0; }

.workplace-title {
  text-align: center;
  font-weight: 700;
  font-size: 5rem;
  animation: moveFromBottom 1s ease;
  opacity: .7; }

.workplace-subtitle {
  text-align: center;
  font-size: 24px;
  animation: moveFromBottom 1s ease;
  opacity: .7;
  margin-top: 20px; }
  .workplace-subtitle p {
    color: #333;
    font-size: 14px;
    margin-top: 20px; }

@keyframes moveFromBottom {
  from {
    opacity: 0;
    transform: translateY(200%); }
  to {
    opacity: .7;
    transform: translateY(0%); } }
.workplace-card-title {
  font-size: 40px;
  opacity: .6; }

.theme-color-text {
  color: #ff7b5f; }

.theme-color {
  background-color: #ff7b5f !important; }

.android-card-container * {
    color: #000;
    border-bottom: none;
}

@media (max-width: 479px) {
  .mdl-cell.mdl-grid.mdl-grid--no-spacing .mdl-cell:first-child {
      margin-bottom: 8px;
  }
  .mdl-cell.mdl-grid.mdl-grid--no-spacing .mdl-cell:last-child {
      margin-top: 8px;
  }
}
@media (min-width: 480px) and (max-width: 839px) {
  .mdl-cell.mdl-grid.mdl-grid--no-spacing .mdl-cell:first-child {
      width: calc(50% - 8px);
      margin-right: 8px;
  }
  .mdl-cell.mdl-grid.mdl-grid--no-spacing .mdl-cell:last-child {
      width: calc(50% - 8px);
      margin-left: 8px;
  }
}
@media (min-width: 840px) {
  .mdl-cell.mdl-grid.mdl-grid--no-spacing .mdl-cell:first-child {
      margin-bottom: 8px;
  }
  .mdl-cell.mdl-grid.mdl-grid--no-spacing .mdl-cell:last-child {
      margin-top: 8px;
  }
}