body {
    background-image: url("none");
    position: relative;
}

@keyframes designConcept
{
0%   {top:-50px; opacity:0 ;width: 100%; height: 100%;}
50%  {top:0; opacity:1; width: 100%; height: 100%;}
80%  {top:0; opacity:1; width: 100%; height: 100%;}
99%  {width: 100%; height: 100%;}
100% {top:-100px; opacity:0; width: 0px; height: 0px;}
}

.designConcept {
  position:absolute;
  -webkit-animation:designConcept 5s;
  animation: designConcept 5s;
  width: 100%;
  height: 0%;
  text-align: center;
  padding:auto;
  margin: auto;
  top: 0;
  right: 0;
  left:0;
  bottom:0;
  z-index:1;
}

.DCButton {
  position: absolute;
  margin: auto;
  top:0;
  right:0;
  left:0;
  bottom:0;
  font-size: x-large;
}

.designConcept p{
  font-size: small;
  line-height: normal;
}

a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color: black;
}

.modal-content {
  background-color: white;
  width: 100%;
  padding: 10px;
}
.modal-content h5 {
  text-align: left;
  padding-left: 10px;
}

.modal-content h6 {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 0px;
}
.modal-content h6:first-child {
  text-align: left;
  padding-left: 10px;
  margin-bottom: 0px;
  margin-top: 0;
}

.modal-content p {
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 0px;
}

/* ↓ColorBox上書き↓ */
#cboxOverlay {
  background-image: url(img/cats/01.jpg);
  background: rgb(219, 255, 251); }
#cboxLoadedContent {
  padding: 0;
  overflow: auto;
  -moz-box-shadow: 0px 0px 10px #555555;
  -webkit-box-shadow: 0px 0px 10px #555555;
  box-shadow: 0px 0px 10px #555555;
  cursor: pointer;
  background-color: rgba(0,0,0, 0.7); }
#cboxContent {
  background: none;
}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose , #cboxTitle {
  top: -30px; }
#colorbox, #cboxOverlay, #cboxWrapper {
  overflow: visible ; }
#cboxTitle {
  color: #000; }
#inline-content {
    margin: 20px; }
/* ↑ColorBox上書き↑ */
.hidden {
    display: none;
}