.material-icons.md-90 {
    font-size: 90px;
}

.figure-inner {
	position: relative;
	width: 300px;
	-webkit-perspective: 1000;
	perspective: 1000;
	width: 300px;
	height: 200px;
	-webkit-transition: .5s;
	transition: .5s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.image,
figcaption {
	position: absolute;
	width: 300px;
	height: 200px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.image {
	z-index: 2;
}
figcaption {
	background: #fff;
	border: 2px solid #666;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
figure:hover .figure-inner,
figcaption {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.workplace-title {
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
    animation: moveFromBottom 1s ease;
	opacity: .7;
}

.workplace-subtitle {
    text-align: center;
    font-size: 24px;
    color: orange;
    animation: moveFromBottom 1s ease;
    opacity: .7;
    margin-top: 20px;
    p {
        color: #333;
        font-size: 14px;
		margin-top: 20px;
	}
}

@keyframes moveFromBottom {
    from {
        opacity: 0;
        transform: translateY(200%);
    }
    to {
        opacity: .7;
        transform: translateY(0%);
    }
}

.workplace-card-title {
    font-size: 40px;
	opacity: .6;
}


// .card-culture:hover{
//     z-index: 999;
//     border: 5px solid #333;
//     transform: scale(1.1);
// }
// .card-culture:hover .culture-icon{
//     color: #000;
//     font-size: 100px;
//     text-shadow: 0px 0px 1px #000;
//     animation: moveFromBottom 300ms ease;
// }
// .card-culture:hover .culture-title{
//     color: #000;
//     font-size: 3rem;
//     animation: moveFromBottom 500ms ease;
// }