.staffs-card{
  height: 450px;
}

.hirono{
  background-image: url(../images/hirono.jpg);
  background-repeat: no-repeat;

  background-size: 100% auto;
}

.staffs-card:hover{
  background-image: url("");
  background-color: rgb(255, 255, 107);
}

.img{
  height: 450px;
  width: 100%;
}

.sankaku{
  margin:auto;
  width: 0;
  height: 0;
  border: 80px solid transparent;
  border-top: 80px solid rgb(255, 255, 107);
}

.sankakuWhite{
  margin:auto;
  width: 0;
  height: 0;
  border: 80px solid transparent;
  border-top: 80px solid rgb(255, 255, 255);
}

.staffs-section{
  /*padding: 0px;*/
}
