.android-more-section {
  padding-bottom: 10px;
}
.android-more-section:nth-child(2) {
  padding-top: 0;
}

.card {
  /*background-color: rgba(255,255,255,0.5);*/
  padding: 0px 0px 30px 0px;
  box-shadow: 1px 5px 20px  rgba(0,0,0,0.4);
  margin: 20px;
  width: 200px;
  height: 350px;
  position: relative;
  display: block;
}

.card a {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}

.card:hover {
  box-shadow:  1px 5px 20px  rgba(0,0,0,0.4) inset;
}

.card-img {
  width: 200px;
  height: 250px;
}

.card-content {
  margin-left: 10px;
}

.gradient-top {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #ffff6b);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plus-margin{
  padding-left: 1vw;
  padding-right: 1vw;
}

.modal-content h6 {
  text-align: left;
  padding-left: 1vw;
  margin-bottom: 0px;
}

.modal-content p {
  padding-left: 2vw;
  padding-right: 2vw;
}

.modal-content h5 {
  text-align: left;
  padding-left: 2vw;
}

.migiyose {
  display: block;
  text-align:right;
  padding-right:25px;
  margin-bottom: 5px;
}

.modal-img{
  display: block;
  margin: 0 auto;
  width: 100%;
}

.modal-text{
  margin: 0 auto;
/*  max-width: 800px;
  width: 80vw;*/
  width: 100%;
  padding: 10px;
  background-color: white;
  box-sizing: border-box;
}

.close {
  text-align: right;
  top: 75px;
  width: 100px !important;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  font-size: x-large;
  font-weight: 100;
  border-radius: 5px;
  margin: auto;
  left:0;
  right: 0;
}

.android-more-section {
  max-width: 100% !important;
}

.staffs-section{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1044px;
  margin: auto;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

/* ↓ColorBox上書き↓ */
#cboxOverlay {
  background-image: url(img/cats/01.jpg);
  background: rgb(219, 255, 251); }
#cboxLoadedContent {
  padding: 0;
  overflow: auto;
  -moz-box-shadow: 0px 0px 10px #555555;
  -webkit-box-shadow: 0px 0px 10px #555555;
  box-shadow: 0px 0px 10px #555555;
  cursor: pointer;
  background-color: rgba(0,0,0, 0.7); }
#cboxContent {
  background: none;
}
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose , #cboxTitle {
  top: -30px; }
#colorbox, #cboxOverlay, #cboxWrapper {
  overflow: visible ; }
#cboxTitle {
  color: #000; }
#inline-content {
    margin: 20px; }
/* ↑ColorBox上書き↑ */

.hidden {
    display: none;
}

.partition-border {
  border:thin solid rgba(0,0,0,0.1);
}
