.android-more-section {
  padding-bottom: 10px;
}

.card {
  /*background-color: rgba(255,255,255,0.5);*/
  padding: 0px 0px 30px 0px;
  box-shadow: 1px 5px 20px  rgba(0,0,0,0.4);
  margin: 20px;
  width: 200px;
  height: 350px;
  position: relative;
  display: block;
}

.card a {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}

.card:hover {
  box-shadow:  1px 5px 20px  rgba(0,0,0,0.4) inset;
}

.card-img {
  width: 200px;
  height: 250px;
}

.card-content {
  margin-left: 10px;
}

.staffs-modal{
<<<<<<< HEAD
  /*padding: 10px;*/
=======
  top:56px !important;
>>>>>>> 648e078d0b066d4700e6e19b653d835972cea2ec
}

.gradient-top {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #ffff6b);
}

<<<<<<< HEAD
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px
}

.modal-img{
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80vw;
=======
.hirono{
  background-image: url(../images/hirono.jpg);
  background-repeat: no-repeat;
  background:url(../images/hirono.jpg) linear-gradient(to bottom, #fff, #ffff6b);
  background-size: 100% auto;
}

.staffs-card:hover{
  background-image: url("");
  background-color: rgb(255, 255, 107);
>>>>>>> 648e078d0b066d4700e6e19b653d835972cea2ec
}

.img{

<<<<<<< HEAD
.close {
  text-align: right;
  top: 75px;
  width: 100px !important;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  font-size: x-large;
  font-weight: 100;
  border-radius: 5px;
  margin: auto;
  left:0;
  right: 0;
=======
>>>>>>> 648e078d0b066d4700e6e19b653d835972cea2ec
}

.sankaku{
  margin:auto;
  width: 0;
  height: 0;
  border: 80px solid transparent;
  border-top: 80px solid rgb(255, 255, 107);
}

.sankakuWhite{
  margin:auto;
  width: 0;
  height: 0;
  border: 80px solid transparent;
  border-top: 80px solid rgb(255, 255, 255);
}

.android-card-container{
  display: flex;
  flex-direction: column;
}

.staffs-section{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color: black;
}
